<p><h1><%=@artist.name%></h1></p>
<p>Formed: <%=@artist.act_since.floor%></p>
<h4>Songs</h4>
<% @artist.songs.each do |song| %>
  <span>
    <ul>
      <%= song.name %></span>
    </ul>
  </span>
<% end %>
