<div style="text-align: center;">
<h1>Codaisseurify</h1>
<hr>
<h3>The Best in providing an inferior music service</h3>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<h4>Visit our <%= link_to "Artists", artists_path %></h4>

</div>
