<div style="text-align: center;">
<h1>Codaisseurify</h1>
<hr>
<h4>Helping you find your artists</h4>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<h4>Visit our <%= link_to "Artists", artists_path %></h4>

</div>
